<div class="container my-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1>Welcome to <b><i class="fas fa-book"></i>Bookers!!</b></h1>
      <p>In <i class="fas fa-book"></i>Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      </p>
      <div><%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-info btn-block my-3" %></div>
      <div><%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-success btn-block my-3" %></div>
    </div>
  </div>
</div>